stages:
  - test
  - build

variables:
  UV_VERSION: "0.4.0"

test:
  image: python:3.11-slim
  stage: test
  before_script:
    - pip install uv==$UV_VERSION
    - uv sync --dev
  script:
    - uv run pytest

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t my-microservice .
